# API
API_PORT=
API_ALLOWED_ORIGINS=
API_CORS_ALLOW_HEADERS=
JWT_SECRET=
JWT_ALGORITHM=
DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_APP_BUNDLE_IDENTIFIER=

# ClickHouse
CLICKHOUSE_URL=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=

# Proxy
PROXY_PORT=
PROXY_ALLOWED_ORIGINS=
PROXY_CORS_ALLOW_HEADERS=
CLICKHOUSE_INSERT_BATCH_SIZE=
CLICKHOUSE_INSERT_FLUSH_INTERVAL_MS=
CLICKHOUSE_INSERT_MAX_TRY=
MAXMIND_DB_PATH=

# Web Configuration
VITE_API_URL=
VITE_PROXY_URL=
VITE_PORT=
